<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
  </div>
  
  <img src="img/photo-about.webp" alt="Laptop" width="473" height="316">
  <p class="mt-2">An user management sytem for storing information of your customers.</p>
  
  <div class="pt-3">
    <p>This is a simple user management system developed as part of a major project given by CORIZO Team.</p>
    <p>Check out this work done by Team 8</p>
  </div>